.auth-page {
    height: 100%;
    background-color: #1e1e1e;
}

.user-wrapper {
    width: 100%;
    max-width: 700px;
    background-color: #252525;
    border: 1px solid #2f2f2f;
    border-radius: 14px;
    padding: 4rem;
    box-shadow: 0 10px 26px rgba(0,0,0,.55);
}

.user-header {
    text-align: left;
    color: #ffffff;
}

.user-header i {
    font-size: 2rem;
    margin-right: .5rem;
}

.user-header h1 {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: .15rem;
}

.user-header span {
    display: block;
    font-size: .8rem;
    opacity: .7;
}


@media (max-width: 768px) {
    .user-wrapper {
        padding: 2rem 1.5rem;
    }
}
