.create {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid #000;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    max-width: 1000px;
}

.left-divisor {
    border-right: 1px solid #000;
    text-align: center;
}

.left-divisor i {
    font-size: 5vw;
}

.right-divisor {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

@media screen and (max-width: 768px) {
    .left-divisor {
        display: none;
    }
}